// Games page

.wrapper {
  padding: 0 80px;
  margin-top: 50px;
}

.attribute-label {
  font-weight: 700;
}

.show-name {
  font-weight: 700;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 8px;
}

.game-image.show {
  margin: 25px auto;
  margin-top: 0;
  background-size: cover;
}

.left-col {
  text-align: center;
  min-height: 620px;
}

.like-buttons {
  display: flex;
}

.right-col {
  padding: 0 40px 0 20px;
  margin-bottom: 70px;
}

.show-published {
  margin-bottom: 0px;
  font-style: italic;
}

.show-platforms {
  margin-bottom: 25px;
}

.show-genres {
  margin-bottom: 25px;
}

.show-summary {
  margin-bottom: 25px;
  line-height: 170%;
}

.flex-button {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.show-probability {
  margin: 25px 0;
}

.show-state {
  margin-top: 20px;
  margin-bottom: 18px;
  color: rgb(150, 150, 150)
}
