body {
  min-height: calc(100vh - 100px);
  position: relative;
}

#landing-band {
  width: 100vw;
  height: calc(100vh - 80px);
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#landing-content {
  text-align: center;
  h1 {
    color: white;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 3px;
  }
  h2 {
    color: white;
    font-size: 28px;
    font-weight: 300;
  }
}

#landing-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  margin: 0 auto;
  margin-top: 40px;
  width:190px;
  height: 70px;
  color: white;
  background-color: #0B5351;
  transition: background-color 0.3s;
  font-weight: 700;
  &:hover {
    color: white;
    text-decoration: none;
    background-color: #049b94;
    cursor: pointer;
  }
}

// INSIDE BANNER-TEXT

.game-image {
  background-size: cover;
  max-width: 28vw;
}

.banner {
  height: 50vh;
  overflow: hidden;
}

.img-content {
  width: calc(50vw - 30px);
  height: 50vh;
  padding: 10vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.game-content {
  width: calc(50vw - 30px);
  height: 50vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.banner-text {
  height: 80%;
  padding: 0 80px;
}

.banner-text.odd {
  text-align: right;
}

.banner-even {
  background-color: #96ACB7;
}

.game-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight:700;
}

.game-summary {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}

.game-recommend {
  margin-bottom: 5px;
  font-weight:700;
}

.game-friend {
  margin-bottom: 30px;
  margin-left: 20px;
}

.game-friend.odd {
  margin-left: 0;
  margin-right: 20px;
}

.friend-name {
  color: #395CA9;
  font-weight: 700;
  cursor: pointer;
}

// Games page

.wrapper {
  padding: 0 80px;
  margin-top: 50px;
}

.attribute-label {
  font-weight: 700;
}

.show-name {
  font-weight: 700;
  font-size: 40px;
  margin-top: 0;
}

.game-image.show {
  margin-bottom: 25px;
}

.flex-left {
  display: flex;
  justify-content: space-around;
}

.like-buttons {
  display: flex;
}

.right-col {
  padding: 0 40px 0 20px;
}

.show-published {
  margin-bottom: 25px;
  font-style: italic;
}

.show-platforms {
  margin-bottom: 25px;
}

.show-genres {
  margin-bottom: 25px;
}

.show-summary {
  margin-bottom: 25px;
  line-height: 170%;
}
