body {
  min-height: calc(100vh - 100px);
  position: relative;
}

#landing-band {
  width: 100vw;
  height: calc(60vh);
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#landing-content {
  text-align: center;
  h1 {
    color: white;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 3px;
  }
  h2 {
    color: white;
    font-size: 28px;
    font-weight: 300;
  }
}

#landing-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  margin: 0 auto;
  margin-top: 40px;
  width:190px;
  height: 70px;
  color: white;
  background-color: #0B5351;
  transition: background-color 0.3s;
  font-weight: 700;
  &:hover {
    color: white;
    text-decoration: none;
    background-color: #049b94;
    cursor: pointer;
  }
}

#sign-in-link {
  margin-top: 10px;
  color: white;
  opacity: 0.8;
  font-weight: 300;
  font-size: 18px;
  a {
    text-decoration: none;
    color: #00A9A5;
    font-weight: 400;
    transition: all 0.3s;
    &:hover {
      text-decoration: none;
      color: #00A9A5;
      opacity: 0.7;
    }
  }
}

.title-carousel-home {
  margin-left: 50px;
  margin-bottom: -5px;
  margin-top: 32px;
  color: rgb(50, 50, 50);
  font-weight: 600;
}

.wraper-carousel-home-2 {
  background-color: rgba(11,83,81,0.1);
  padding-top: 1px;
}

.footer-links {
  color: white;
  font-size: 30px;
  i {
    margin: 0 5px;
  }
}
