/* Backgrounds and containers */

.mygames-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(225deg,rgba(50,50,50,0.3),rgba(100,100,100,0.1)), url('photo3.jpeg');
  background-size: cover;
  min-height: 75vh;
}

.mygames-container {
  width: 65vw;
  margin: 40px auto;
}

.mygames-section {
  width: 100%;
  padding: 10px 30px;
  margin: 20px 10px 10px 20px;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0px 1px 3px 0px rgba(50,50,50,0.5);
}


/* Section heading and sub-heading */
.section-title {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 36px;
    text-align: center;
    margin: 15px 0px 15px 0px;
  }
}
.section-note {
  p {
    font-size: 16px;
    text-align: center;
  }
}

.font-liked {
  color: #00aca7;
}
.font-disliked {
  color: crimson;
}


/* Games display and individual CSS configurations for each game*/
.section-games {
  width: 85%;
  margin: 0px auto;
}

.mygames-game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin: 15px 0px;
  border-radius: 20px;
  background-color: whitesmoke;
}

.mygames-gamename {
  text-align: center;
  margin: 0px 10px 0px 10px;
  font-weight: bold;
}

.game-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.gamephoto-container {
  transition: all 0.2s;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 10px auto;

  .delete-game-button {
    right: 0;
    transition: all 0.4s;
    position: absolute;
    opacity: 0;
  }

  &:hover {
    .delete-game-button {
      opacity: 1;
      z-index: 101;
    }
  }

  i {
    font-size: 24px;
    color: crimson;
    opacity: 0.8;
    text-decoration: none;
    padding: 5px 7px 0px 10px;
    &:hover {
      color: crimson;
      opacity: 1;
      text-decoration: none;
    }
  }
}

.mygame-link {
  z-index: 1;
}

.gamephoto {
  max-height: 200px;
  box-shadow: 0px 2px 5px 0px rgba(50,50,50,0.7);
  transition: all 0.3s;
  &:hover {
    box-shadow: 0px 4px 7px 0px rgba(50,50,50,1);
  }
}

// .game-delete {
//   height: 100%;
//   width: 100%;
//   z-index: 3;
//   position: absolute;
//   opacity: 0;
//   transition: all 0.5s;
//   margin: 0px;
//   text-align: right;

//   &:hover {
//     opacity: 1;
//   }
// }
