// COMMON

.flex-center {
  display: flex;
  align-items: center;
}

.suggestion-green {
  color: #005552;
  font-weight: 800;
}

.suggestion-red {
  color: #F24236;
}

// TOP BANNER


#suggestion-banner-top {
  min-height: 600px;
  display: flex;
  overflow: hidden;
  background-color: #96ACB7;
}

#suggestion-center-text {
  height: 600px;
  display: flex;
  align-items: center;
}

#suggestion-center-image {
  height: 600px;
  display: flex;
  align-items: center;
  padding-left: 2vw;
}

#suggestion-game-image {
  max-width: 320px;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
  &:hover {
    box-shadow: 6px 8px 14px rgba(0, 0, 0, 0.25);
  }
}

#suggestion-div-image {
  position: relative;
}

#suggestion-top-text {
  padding: 0 80px;
}

#suggestion-game-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight:700;
  max-height: 105px;
}

#suggestion-game-summary {
  max-height: 160px;
  line-height: 150%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}

.suggestion-game-stat {
  font-weight: 700;
  padding: 15px 12px;
  background-color: rgb(230, 230, 230);
  border-radius: 3px;
  margin-right: 32px;
}

.suggestion-probability {
  margin: 25px 0;
  font-weight: 700;
}

#suggestion-link {
  color: rgb(50, 50, 50);
  transition: all 0.3s;
  &:hover {
    text-decoration: none;
    color: rgb(50, 50, 50);
    opacity: 0.7;
  }
}

#suggestion-seemore-button {
  padding: 15px 12px;
  width: 150px;
  text-align: center;
}

// BOTTOM BANNER

#suggestion-banner-bottom {
  height: 500px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.image-carousel-game {
  margin: 0 auto;
  object-fit: cover;
}

.game-carousel-title {
  padding-left: 80px;
  margin-bottom: 40px;
}

// ANIMATIONS

#suggestion-game-image {
  animation-duration: 0.8s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}
