<!-- Game Carousel -->
<div class="slider-container">
  <h2><strong>Tell us the games you like | Minimum 5</strong></h2>
  <span id="nextArrow"></span>
  <span id="prevArrow"></span>
  <div id="slider" class="slider">
  </div>
</div>
