<div class="slider-container">
  <h2 class="title-selection"><strong>Tell us the games you like | <%= remaining %> remaining</strong></h2>
  <span id="nextArrow"></span>
  <span id="prevArrow"></span>
  <div id="slider" class="slider">
    <% games.each do |game| %>
      <%= link_to game_states_path(game, state, redirect: "home"), :method => :post do %>
        <div class="item-carousel">
          <img src="<%= cl_image_path(game.photo) %>" alt="<% game %>">
        </div>
      <% end %>
    <% end %>
  </div>
</div>
