<div class="navbar-wagon" data-turbolinks-permanent>
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand" id="gamiflex-brand">
    <img src="/assets/gamiflex.png" alt="">
    Gamiflex
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <div id="search-items">
      <div class="cell">
        <div class="searchbar">
          <input type="text" class="btn-extended" placeholder="search" id="search" />
          <div class="btn-search clicked-btn">
            <i class="fas fa-search"></i>
          </div>
          <div id="search-box"></div>
        </div>
      </div>
    </div>

    <a href="/mygames" class="navbar-wagon-item navbar-wagon-link">My games</a>
    <a href="/profile" class="navbar-wagon-item navbar-wagon-link">Profile</a>
    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, class: "navbar-wagon-item navbar-wagon-link last-link", method: :delete %>
    <% end %>

    <!-- Profile picture with dropdown list -->
    <% if user_signed_in? %>
      <% if policy(current_user).choose_games? %>
        <a href="/choose_game" class="main-btn">My next game</a>
      <% elsif policy(current_user).suggest? %>
        <a href="/suggestions" class="main-btn run-loading">My next game</a>
      <% end %>
    <% else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "main-btn" %>
    <% end %>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>
<script>

  const search = document.getElementById('search');
  const searchBox = document.getElementById('search-box');

  search.addEventListener("keyup", (event) => {
    if (event.target.value.length > 2) {
      fetch(`<%= search_path %>?query=${event.target.value}`)
      .then(response => response.json())
      .then((data) => {
        console.info(data);
        searchBox.style.display = "block";
        searchBox.innerHTML = "";

        let index;

        for (index = 0; index < 5; index++) {

          let img;
          let release_dates;
          let name;
          let classplus = "";

          if (data[index]["cover"]) {
            img = `<img src="https:${data[index]["cover"]["url"]}">`
          } else {
            img = `<img src="http://blackandwhitesalon.hu/wp-content/uploads/2018/03/1520528222130.png">`
          };

          if (data[index]["release_dates"]) {
            release_dates = data[index]["release_dates"][0]["human"]
          } else {
            release_dates = `unknown`
          };

          if (release_dates != "unknown") {
            name = `${data[index]["name"].substring(0,18)}.. (${release_dates.substring(0,4)})`
          } else {
            name = data[index]["name"].substring(0, 24)
          }

          if (index == 0) {
            classplus = "search-top"
          } else if (index == 4) {
            classplus = "search-bottom"
          }

          const item = `<a href="/games/${data[index]["id"]}" class="link-product">
                          <div class="game-search ${classplus}">
                            ${img}
                            <div class="game-search-text">
                              <p class="game-search-title">${name}</p>
                              <p class="game-search-summary">${data[index]["summary"]}</p>
                            </div>
                          </div>
                        </a>`;

          searchBox.insertAdjacentHTML("beforeend", item);
        }
      })
    } else if (event.target.value.length < 3) {
      searchBox.style.display = "none"
    };
  });

</script>
