.slider-container {
  background-color: #F2F2F2;
  padding: 20px 50px;
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 50vw;
  margin: 0px 0px 0px 20px;
  button {
    height: 50%;
    padding: 5px 12px;
    margin: auto;
    border-radius: 50%;
    font-size: bold;
    color: white;
    background-color: green;
    opacity: 1;
    transition: all 0.5s;
    &:hover {
      color: white;
      background-color: green;
      opacity: 0.7;
    }
  }
}

.title {
  margin-bottom: 35px;
  font-size: 30px;
  font-weight: 700;
}

.slider {
  transition: all 1s;
}

.slick-slide {
  padding: 10px;
}

.slick-track {
  display: flex;
  align-items: center;
}

.item-carousel {
  position: relative;
  top: 0;
}

.item-carousel > img {
  width: 100%;
  z-index: 1;
}

.game-links {
  z-index: 3;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  right: 0;
  left: 0;
  margin: 0px auto;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.5s;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  }
}

.like-btn {
  color: green;
  font-size: 24px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-right: 1px;
  padding: 3px 8px 4px 14px;
  transition: all 0.3s;
  background-color: whitesmoke;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
  &:hover {
    color: green;
    background-color: rgba(220, 220, 220, 1);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
  }
  &:active {
    color: green;
  }
}

.dislike-btn {
  color: crimson;
  font-size: 24px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 1px;
  padding: 5px 8px;
  padding: 3px 14px 4px 8px;
  transition: all 0.3s;
  background-color: whitesmoke;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
  &:hover {
    background-color: rgba(220, 220, 220, 1);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    color: crimson;
  }
  &:active {
    color: crimson;
  }
}


#prevArrow,  #nextArrow {
  visibility: visible !important;
  font-size: 50px;
  opacity: 0.7;
}
#prevArrow:hover, #nextArrow:hover {
  opacity: 1;
  cursor: pointer;
}

.slick-active img {
  transition: all 1s;
  box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.5);
}

#nextArrow {
  position: absolute;
  z-index: 99;
  top: 118px;
  left: 71px;
  height: 208px;
  width: 142px;
}

#prevArrow {
  position: absolute;
  z-index: 99;
  height: 208px;
  width: 142px;
  top: 118px;
  right: 66px;
}
