.slider-container {
  background-color: #F2F2F2;
  height: 500px;
  padding: 20px 50px;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  h2 {
    font-size: 28px;
  }
}

.slider {
  transition: all 1s;
}

.slick-slide {
  padding: 10px;
}

.item-carousel {
  position: relative;
  top: 0;
}

.item-carousel > img {
  width: 100%;
}

#prevArrow,  #nextArrow {
  visibility: visible !important;
  font-size: 50px;
  opacity: 0.7;
}
#prevArrow:hover, #nextArrow:hover {
  opacity: 1;
  cursor: pointer;
}

.slick-active img {
  transition: all 1s;
  box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.5);
}

#nextArrow {
  position: absolute;
  z-index: 99;
  top: 118px;
  left: 71px;
  height: 208px;
  width: 142px;
}

#prevArrow {
  position: absolute;
  z-index: 99;
  height: 208px;
  width: 142px;
  top: 118px;
  right: 66px;
}
