#footer {
  background-color: #96ACB7;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: -100px;
  width: 100vw;
}

.footer-link {
  color: rgb(51, 51, 51);
  text-decoration: none;
  margin: 0 15px;
  &:hover {
    text-decoration: none;
    color: rgb(100, 100, 100)
  }
}
