/* Navbar Container */
.navbar-gamiflex {
  box-shadow: 0 1px 5px 0 rgba(0,0,0, 0.1);
  background-color: $green-site;
  transition: all 0.3s ease;
  height: 10vh;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}

/* Logo on the left */
.navbar-gamiflex-brand {
  img { height: 65px; }
}

/* Right section */
.navbar-gamiflex-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-gamiflex-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar links */
.navbar-gamiflex-link {
  color: white;
  font-size: 18px;
  &:hover {
    color: white;
    opacity: 0.7;
    text-decoration: none;
  }
}

/* Dropdown menu */
.navbar-gamiflex-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  li > a {
    transition: color 0.3s ease;
    font-weight: lighter !important;
    color: #999999 !important;
    font-size: 15px !important;
    line-height: 22px !important;
    padding: 10px 20px;
  }
  li > a:hover {
    background: transparent !important;
    color: black !important;
  }
  &:before {
    content: ' ';
    height: 10px;
    width: 10px;
    position: absolute;
    right: 10px;
    top: -6px;
    background-color: white;
    transform: rotate(45deg);
    border-left: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
  }
}

