/* Main navbar */
.navbar-gamiflex {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #0B5351;
  transition: all 0.3s ease;
  height: 80px;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-gamiflex-brand {
  color: white;
  font-weight: 900;
  font-size: 28px;
  letter-spacing: 1.5px;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: none;
  };
  img {
    height: 40px;
    margin-right: 5px;
  };
}

/* Right section */
.navbar-gamiflex-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-gamiflex-item {
  padding: 0 30px;
}

/* Navbar link */
.navbar-gamiflex-link {
  color: white;
  font-size: 16px;
  transition: all 0.3s;
}
.navbar-gamiflex-link:hover {
  color: #00A9A5;
  text-decoration: none;
}
