/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #0B5351;
  transition: all 0.3s ease;
  height: 80px;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-wagon-brand {
  color: white;
  font-weight: 900;
  font-size: 28px;
  letter-spacing: 1.5px;
  text-decoration: none;
  margin-right: 50px;
  &:hover {
    color: white;
    text-decoration: none;
  };
  img {
    height: 40px;
    margin-right: 5px;
  };
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: white;
  font-size: 16px;
}
.navbar-wagon-link:hover {
  color: #00A9A5;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.dropdown-link {
  margin-left: 12px;
}

#search-items {
  position: relative;
}

#search-box {
  position: absolute;
  height: 320px;
  width: 250px;
  background-color: white;
  top: 80px;
  display: none;
  z-index: 10;
}

.game-search {
  display: flex;
  padding: 5px 15px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s;
  color: rgb(51, 51, 51);
  img {
    height: 50px;
    width: 40px;
    object-fit: cover;
  };
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  };
}

.game-search-text {
  color: rgb(51, 51, 51);
  width: calc(220px - 47px);
  margin-left: 10px;
}

.game-search-title {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  margin-bottom: 0px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game-search-summary {
  font-size: 12px;
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-product {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.search-top {
  height: 70px;
  padding-top: 10px;
}

.search-bottom {
  height: 70px;
  padding-bottom: 10px;
}
